@use '../../config' as *;

@media(max-width: 960px) {

    main#brackets-page {

        section#brackets-events-container {
            padding: 14px;

            #brackets-events-gallery {
                grid-template-columns: repeat(2, 1fr);

            }
        }
    }
}

@media(max-width: 678px) {

    main#brackets-page {

        section#brackets-events-container {

            padding: 14px 7px;

            #brackets-events-gallery {

                grid-template-columns: repeat(1, 1fr);
                gap: 7px;

                .bracket-event-card-container {

                    .bracket-event-card {
                        max-width: 420px;
                        width: 100%;
                        margin: auto;

                        &.bracket-event-card-live {

                            .live-card-footer {

                                .footer-bottom {

                                    .bracket-event-join-btn {
                                        font-size: 1.4rem;
                                        padding: 7px 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}