@use '../../config' as *;

#not-found-page,
.bracket-tournament-play,
#pool-page {

    .not-found-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 21px;
        text-align: center;
        padding: 42px 21px;

        h1,
        h2 {
            font-size: 4.2rem;
            font-weight: 600;
        }

        .subtitle-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 7px;

            p {
                font-size: 1.8rem;
                color: rgba(white, 0.7);
                max-width: 420px;
            }
        }
        
        .not-found-actions {
            display: flex;
            gap: 14px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}