@use '../../../../config' as *;

main#escape-the-cloud {

    section#escape-the-cloud-container {
        min-height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        #escape-the-cloud-trailer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 42px;
            background-color: $vindro-tan;
            color: $vindro-black;
            font-size: 1.4rem;
            padding: 3rem;

            video {
                width: 90%;
                height: auto;
            }
        }

        #escape-the-cloud-info {
            width: 100%;
            height: 100%;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 42px;
            background-color: $vindro-gray;

            p {
                font-size: 2.1rem;
                text-align: center;
                line-height: 2.4rem;
            }

            .buttons {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 42px;

                a {
                    padding: 7px 21px;
                    font-size: 1.8rem;
                    text-align: center;
                    color: $vindro-black;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}