@use '../../../../config' as *;

@media(max-width: 960px) {

    main#escape-the-cloud {

        section#escape-the-cloud-container {
            height: 100%;
            grid-template-columns: 1fr;

            #escape-the-cloud-trailer {
                min-height: 50vh;
                padding: 7px;

                video {
                    width: 63%;
                }
            }

            #escape-the-cloud-info {
                min-height: 50vh;

                .buttons {

                    a {
                        font-size: 1.6rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media(max-width: 678px) {

    main#escape-the-cloud {

        section#escape-the-cloud-container {

            #escape-the-cloud-trailer {

                video {
                    width: 84%;
                }
            }

            #escape-the-cloud-info {

                p {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media(max-width: 450px) {

    main#escape-the-cloud {

        section#escape-the-cloud-container {

            #escape-the-cloud-trailer {

                video {
                    width: 96%;
                }
            }

            #escape-the-cloud-info {

                .buttons {
                    flex-direction: column;
                    gap: 21px;

                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 376px) {

    main#escape-the-cloud {

        section#escape-the-cloud-container {

            #escape-the-cloud-trailer {
                min-height: 36vh;
                padding: 7px;
            }

            #escape-the-cloud-info {
                min-height: 50vh;
                padding: 21px 14px;
                gap: 28px;

                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}