@use '../../config' as *;

.error-display-modal {

    #error-modal-gallery {
        min-height: 28vh;
        justify-content: center;

        h2 {
            font-size: 3.6rem;
        }

        p {
            width: 84%;
            font-size: 1.8rem;
            line-height: 1.5;
        }
    }

    #error-modal-actions {
        flex-grow: 0;
        padding: 21px 14px;
    }
}
