@use '../../config' as *;

main#stories {

    section#stories-page-content {
        overflow: hidden;
        width: 100%;

        #timeline ul {
            background: $vindro-gray;
            padding: 42px 0;

            li {
                list-style: none;
                position: relative;
                width: 6px;
                margin: 0 auto;
                padding-top: 50px;
                background: $vindro-green;

                div {
                    position: relative;
                    bottom: 0;
                    width: 400px;
                    padding: 21px;
                    background: $vindro-tan;
                    transition: all 0.5s ease-in-out;
                    visibility: hidden;
                    opacity: 0;
                    box-shadow: 0 3px 10px $vindro-black;

                    h3 {
                        width: 100%;
                        color: $vindro-black;
                        font-family: $vindro-Montserrat;
                        font-weight: bold;
                        font-size: 2.1rem;
                        padding-bottom: 3px;
                        border-bottom: 2px solid $vindro-green;

                        svg {
                            height: 1.5rem;
                        }
                    }

                    p {
                        margin-top: 7px;
                        color: $vindro-black;
                        font-size: 1.8rem;
                    }
                }

                /* Timeline Right Side */
                &:nth-child(odd) div {
                    left: 40px;
                }

                /* Timeline Left Side */
                &:nth-child(even) div {
                    left: -434px;
                }

                /* Timeline Dots */
                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 25px;
                    height: 25px;
                    background: inherit;
                    transform: translateX(-50%);
                    border-radius: 50%;
                    transition: background 0.5s ease-in-out;
                }

                /* Timeline Arrows Base */
                div:before {
                    content: '';
                    position: absolute;
                    bottom: 5px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                }

                /* Timeline Right Side Arrows */
                &:nth-child(odd) div:before {
                    left: -15px;
                    border-width: 8px 16px 8px 0;
                    border-color: transparent $vindro-tan transparent transparent;
                }

                /* Timeline Left Side Arrows */
                &:nth-child(even) div:before {
                    right: -15px;
                    border-width: 8px 0 8px 16px;
                    border-color: transparent transparent transparent $vindro-tan;
                }

                /* Timeline Show Boxes */
                &.show div {
                    transform: none;
                    visibility: visible;
                    opacity: 1;
                }

                &.show:after {
                    background: $vindro-green;
                }
            }
        }
    }
}
