@use '../../config' as *;

@media(max-width: 450px) {

    .how-to-play-content {
        
        .instructions-inner {
            padding: 63px 14px 21px;

            .main-instructions {

                h2 {
                    font-size: 2.8rem;
                }

                h3,
                p,
                li {
                    font-size: 1.4rem;
                }

                .instruct-resources-container {
                    .instruct-resource-inline {
                        p {
                            font-size: 1.4rem;
                        }
                    }
                }

                .italics-note {
                    font-size: 1.4rem;
                }
            }

            .refs {
                padding: 14px 3px;

                p,
                a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}