@use '../../config' as *;

@media(max-width: 450px) {

    .modal-overlay {

        .modal-content {

            #social-signup-gallery {

                .social-login {
                    
                    .btn-social {
                        width: 100%;

                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            #welcome-user-gallery {

                h2 {
                    font-size: 1.8rem;
                }
            }

            .no-account-container, #welcome-user-interaction {
                padding: 14px;

                #sign-up-header h3 {
                     font-size: 2.1rem;
                }

                .auth-info, .welcome-text {

                    h4, p {
                        font-size: 1.6rem;
                    }
                }

                h5 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media(max-width: 376px) {

    .modal-overlay {

        .modal-content {

            #social-signup-gallery {
                padding: 14px;

                .social-login {
                    
                    .btn-social {
                        width: 100%;
                        padding: 7px;
                        font-size: 1.4rem;

                        svg {
                            width: 21px;
                            height: 21px;
                        }
                    }
                }
            }

            .no-account-container {

                .modal-footer {
                    padding: 7px 0px 14px;
                }
            }

            #welcome-user-gallery {
                padding: 14px;
            }

            #welcome-user-interaction {

                .welcome-buttons {
                    justify-content: space-between;

                    button {
                        padding: 7px 14px;
                    }
                }
            }
        }
    }
}