@use '../config' as *;

.table-container {
    border-radius: 7px;

    table {
        width: auto;
        border-collapse: collapse;
        overflow: hidden;
    }

    th {
        font-size: 1.8rem;
        font-weight: 600;
        font-family: $vindro-Montserrat;
        border: none;
        padding: 7px 14px;
        color: white;
        text-align: center;
    }

    tr {
        padding: 7px 14px;

        &.clickable-row {
            //cursor: pointer;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: rgba($vindro-tan, 0.42);
            }
        }
    }

    td {
        font-size: 1.4rem;
        font-weight: 300;
        text-align: center;
        padding: 7px 14px;
        color: white;

        span.table-link {
            //color: $vindro-teal;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    th,
    td {
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th.narrow-header {
        white-space: nowrap;
        overflow: hidden;
    }

    td.truncate-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 0;
    }

    &.bg-gray.backdrop-tan {
        border: 1px solid $vindro-tan;
        background-color: $vindro-gray;

        table {

            th {
                border-bottom: 3px solid $vindro-tan;
            }
        }
    }

    &.bg-black.backdrop-gray {
        border: 1px solid $vindro-gray;
        background-color: $vindro-black-overlay;

        table {

            th {
                border-bottom: 3px solid $vindro-gray;
            }
        }
    }

    &.bg-gray.backdrop-black {
        border: 1px solid $vindro-black;
        background-color: $vindro-gray;

        table {
            th {
                border-bottom: 3px solid $vindro-black;
            }
        }
    }
}

.user-stats-container {
    width: 100%;

    .table-container {
        overflow-x: auto;

        table {
            width: 100%;
            table-layout: fixed;

            th {
                width: 25%;
            }

            td.table-link {
                color: $vindro-teal;
                font-weight: 400;
                text-decoration: underline;
                cursor: pointer;
                transition: color 0.2s ease;

                &:hover {
                    color: lighten($vindro-teal, 14);
                }
            }
        }
    }
}

.tournament-feature-table {

    .table-container {

        table {
            width: 100%;

            tr {
                td:first-child {
                    text-align: left;
                    padding-left: 7px;
                }

                &:last-child {
                    td {
                        font-weight: 600;
                    }
                }
            }

            &#swap-table {

                tr:last-child {

                    td {
                        font-weight: 300;
                    }
                }
            }

            td {
                font-size: 1.2rem;
                font-weight: 300;
                padding: 7px 0;
            }
        }
    }
}