@media(max-width: 450px) {

    #navbar-hamburger {

        .vindro-logo {
            margin: 0 14px;
        }

        nav {
            #hamburger-menu {
                ul {
                    padding: 21px 7px;

                    li {
                        margin: 0 14px;
                    }
                }
            }
        }

        .nav-auth-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            .auth-nav-mobile {
                padding: 0 7px;

                .btn-login {
                    padding: 7px 14px;
                    font-size: 1.4rem;
                }
            }

        }
    }

    section.hero-full {

        h2 {
            width: 84%;
        }
    }

    section.hero-half {
        padding: 14px;

        h2 {
            font-size: 1.8rem;
        }
    }

    main#stories {
        section#stories-page-content {

            #timeline ul {
                padding: 21px 0 42px 0;

                li {

                    margin-left: 3px;

                    div {

                        h3 {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }

    main#games-showcase {

        section.hero-half {
            h1 {
                font-size: 2.8rem;
            }

            h2 {
                width: 100%;
                font-size: 1.8rem;
            }
        }

        section#games-gallery-container {

            padding: 0 0 42px;

            #games-gallery {

                grid-template-columns: 1fr;
                padding: 0 21px;

                .game {

                    &-text {

                        a {
                            justify-content: center;

                            h3 {

                                font-size: 1.8rem;
                                text-align: center;
                            }
                        }

                        p {

                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }

    }

    main#escape-the-cloud {

        section#escape-the-cloud-container {

            #escape-the-cloud-trailer {

                video {
                    width: 96%;
                }
            }

            #escape-the-cloud-info {

                .buttons {
                    flex-direction: column;
                    gap: 21px;

                    a {
                        width: 100%;
                        font-size: 1.6rem;
                        text-align: center;
                        padding: 14px;
                    }
                }
            }
        }
    }

    main#game-42 {
        padding: 60px 0 0 0;

        #game-42-buttons {

            button.pos-42 {
                padding: 3px 7px;
            }
        }

        #display-42 {
            padding: 21px 14px;

            .instructions-42 {

                h1 {
                    font-size: 2.8rem;
                }
            }

            .showcase-42 {

                .game-42-play-container {

                    button#game-42-play-button,
                    .game-42-number-display {
                        width: 84%;
                        padding: 7px;
                        font-size: 2.1rem;
                    }

                    .end-game-message {
                        font-size: 1.6rem;

                    }
                }

                .game-42-results-grid {

                    div {

                        p {
                            &:nth-child(1) {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }

    main#madrid-calculator {

        .intro {
            width: 100%;
        }

        .calculator-body {
            padding: 14px 21px;

            .calc-screen {
                width: 100%;
            }

            .calc-grid {
                width: 100%;

                button {
                    font-size: 3.6rem;

                    &.btn-util {
                        font-size: 2.4rem;
                    }

                    &.btn-champions {
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .audio-btn-container {
                width: 100%;
            }
        }
    }

    main#auto-miner {
        padding: 60px 21px 0;

        .auto-miner-container {
            padding: 21px;

            section#game-intro {
                padding-left: 7px;

                h1 {
                    font-size: 3.6rem;
                }

                .sub-header-text-instruct {
                    h2 {
                        font-size: 1.8rem;
                    }

                    button#how-to-play {
                        width: 100%;
                        font-size: 1.4rem;
                        padding: 3px 7px;
                    }
                }

                #resource-bar {
                    .resource-bar-container {
                        .column {
                            flex-direction: column;
                            align-items: center;

                            p {
                                padding: 0;
                            }
                        }
                    }
                }
            }

            section.resource-section {
                padding: 21px 14px 14px;

                .resource-section-grid {
                    grid-template-columns: 1fr;

                    .grid-cell-container {

                        .grid-cell-content {

                            justify-content: center;

                            .header-text,
                            .total-resource-grid-display {

                                img {
                                    width: 24px;
                                    height: 24px;
                                }

                                h3,
                                h4 {
                                    font-size: 1.6rem;
                                }
                            }

                            .total-resource-grid-display {
                                flex-direction: column;
                                gap: 7px;

                                .total-resource-display,
                                .production-display {
                                    width: 100%;
                                }

                                .production-cost-heading {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    img {
                                        width: 24px;
                                        height: 24px;
                                    }
                                }
                            }

                            .cost-purchase-display,
                            .purchase-summary-section {

                                gap: 3px;

                                p {
                                    font-size: 1.6rem;
                                }
                            }

                            .purchase-section {

                                p {
                                    font-size: 1.6rem;
                                }
                            }

                            .inline-cost-display,
                            .total-resource-display,
                            .production-display {
                                padding: 3px 7px;
                                font-size: 1.6rem;
                            }

                            .total-resource-display,
                            .production-display {
                                padding: 3px 7px;
                                font-size: 1.6rem;
                            }

                            label {
                                font-size: 1.6rem;

                                input {
                                    margin-right: 7px;
                                    width: 21px;
                                    height: 21px;
                                    cursor: pointer;

                                    // Target the checkbox specifically when it's disabled
                                    &:disabled {
                                        opacity: 0.4;
                                        cursor: not-allowed;
                                        filter: grayscale(1); // Desaturates the box in some browsers
                                        accent-color: #666; // Colors the "check" if it were checked
                                    }
                                }
                            }
                        }

                        &:first-child {
                            justify-content: flex-start;
                            padding-left: 14px;
                        }

                        &:last-child {
                            justify-content: flex-start;
                            padding-left: 14px;
                            margin-top: 14px;

                            .total-resource-grid-display {
                                padding: 0 14px;
                            }
                        }

                        &#total-iron-grid-display {
                            display: none;
                        }
                    }
                }
            }

            .auto-miner-btn {
                min-width: 0;
                width: 100%;
                padding: 7px 14px;
                font-size: 1.4rem;
            }
        }
    }

    main.bracket-tournament-page {

        .user-picks {}

        .about-tournament {

            .about-tournament-container {
                .feature {
                    .feature-text-container {

                        .feature-explanation {
                            p {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }

    main#contact-page {

        section#contact-page-emails {

            ul {
                width: 100%;

                li {
                    width: 6px;
                    margin-left: 21px;

                    div {
                        width: calc(100vw - 63px);

                        h4 {
                            font-size: 1.6rem;
                        }
                    }

                    &:nth-child(odd) div {
                        left: 21px;
                    }

                    &:nth-child(even) div {
                        left: 21px;
                    }

                    &:after {
                        width: 21px;
                        height: 21px;
                    }
                }
            }
        }
    }

    main#user-profile {
        padding: 90px 14px 0;

        .profile-container {
            width: 100%;
            padding: 21px 0;
            gap: 21px;

            h1 {
                font-size: 3.6rem;
            }

            .user-stat-container {

                padding: 0 7px;

                &#user-name-icon {


                    .user-name-data {
                        gap: 7px;
                    }

                    .user-icon {

                        .icon-gallery {
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    main#privacy-page-content {

        section#privacy,
        section#cookies,
        section#terms {

            padding: 14px;

            h2 {
                font-size: 2.8rem;
            }

            h3 {
                font-size: 1.8rem;
            }

            h5 {
                font-weight: 600;
            }

            h5,
            p {
                font-size: 1.6rem;
            }

            p.update {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }

    footer {


        a {
            font-size: 1rem;
        }

        .contact-info {
            font-size: 1.2rem;

            a {
                color: var(--teal-yellow-swap);
                font-weight: 600;

                &:hover {
                    color: $vindro-green;
                }
            }
        }

        .social {
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            gap: 14px;

            a {

                padding: 3px;
                color: white;
                border-radius: 3px;

                svg {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }

    .how-to-play-content {
        .instructions-inner {
            padding: 63px 14px 21px;

            .main-instructions {

                h2 {
                    font-size: 2.8rem;
                }

                h3,
                p,
                li {
                    font-size: 1.4rem;
                }

                .instruct-resources-container {
                    .instruct-resource-inline {
                        p {
                            font-size: 1.4rem;
                        }
                    }
                }

                .italics-note {
                    font-size: 1.4rem;
                }
            }

            .refs {
                padding: 14px 3px;

                p,
                a {
                    font-size: 1.2rem;
                }
            }
        }
    }

    section#under-construction {
        font-size: 1.8rem;
        text-align: center;
    }


}