@media(max-width: 450px) {

    #navbar-hamburger {

        .vindro-logo {
            margin: 0 14px;
        }

        .nav-auth-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            .auth-nav-mobile {
                padding: 0 7px;

                .btn-login {
                    padding: 7px 14px;
                    font-size: 1.4rem;
                }
            }

        }
    }

    section.hero-full {

        h2 {
            width: 84%;
        }
    }

    section.hero-half {
        padding: 14px;

        h2 {
            font-size: 1.8rem;
        }
    }

    section#stories-page-content {

        #timeline ul {
            padding: 21px 0 42px 0;

            li {

                margin-left: 3px;

                div {

                    h3 {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    main#games-showcase {
        section.hero-half {
            h1 {
                font-size: 2.8rem;
            }
        }

    }

    section#games-gallery-container {

        padding: 3rem 0;

        #games-gallery {

            grid-template-columns: 1fr;

            .game {

                &-text {
                    padding: 14px;

                    a {
                        justify-content: center;

                        h3 {

                            font-size: 1.8rem;
                            text-align: center;
                        }
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }
    }

    main#escape-cloud {
        section.hero-half {
            h1 {
                font-size: 3.6rem;
            }
        }
    }

    section#escape-the-cloud {

        #escape-the-cloud-trailer {

            video {
                width: 96%;
            }
        }

        #escape-the-cloud-info {

            .buttons {
                flex-direction: column;
                gap: 21px;

                a {
                    width: 100%;
                    font-size: 1.6rem;
                    text-align: center;
                    padding: 14px;
                }
            }
        }
    }

    main#game-42 {
        padding: 60px 0 0 0;

        #game-42-buttons {

            button.pos-42 {
                padding: 3px 7px;
            }
        }

        #display-42 {
            padding: 21px 14px;
            .instructions-42 {

                h1 {
                    font-size: 2.8rem;
                }

                .how-to-play-container {
                    button {
                        font-size: 1.4rem;
                    }
                }
            }

            .showcase-42 {

                .game-42-play-container {

                    button#game-42-play-button,
                    .game-42-number-display {
                        width: 84%;
                        padding: 7px;
                        font-size: 2.1rem;
                    }

                    .end-game-message {
                        font-size: 1.6rem;

                    }
                }

                .game-42-results-grid {

                    div {

                        p {
                            &:nth-child(1) {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }

    }

    section#under-construction {
        font-size: 1.8rem;
        text-align: center;
    }

    .auth-container {
        width: 84%;
        padding: 14px;

        .no-account,
        .yes-account {
            flex-direction: column;
            gap: 14px;

            h3 {
                font-size: 1.8rem;
            }

            .btn-register {
                font-size: 1.4rem;
                padding: 7px 14px;
            }
        }
    }

    footer {


        a {
            font-size: 1rem;
            color: $vindro-green;

            &:hover {
                color: $vindro-teal;
            }
        }

        .contact-info {
            font-size: 1.2rem;

            a {
                color: $vindro-teal;
                font-weight: 600;

                &:hover {
                    color: $vindro-green;
                }
            }
        }

        .social {
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            gap: 14px;

            a {

                padding: 3px;
                color: white;
                border-radius: 3px;

                svg {
                    width: 3rem;
                    height: 3rem;
                }

                &:hover {
                    background-color: $vindro-green;
                    color: $vindro-gray;
                }
            }
        }
    }
}