@media(max-width: 960px) {

    #navbar {
        padding: 0 14px 0 0;
    }

    section.hero-full {
        h2 {
            font-size: 2.8rem;
        }
    }

    section.hero-half {

        h2 {
            font-size: 2.4rem;
            width: 100%;
        }
    }

    main#stories {
        section#stories-page-content {
            width: 100%;
            background-color: $vindro-gray;

            #timeline ul {
                width: 84%;
                margin: 0 auto;

                li {

                    margin-left: 42px;

                    div {
                        width: 70vw;
                    }

                    &:nth-child(even) div {
                        left: 40px;
                    }

                    &:nth-child(even) div:before {
                        left: -15px;
                        border-width: 8px 16px 8px 0;
                        border-color: transparent #FFFFFF transparent transparent;
                    }
                }
            }
        }
    }

    main#games-showcase {

        section.hero-half {

            h2 {
                font-size: 2.4rem;
            }
        }

        section#games-gallery-container {

            #games-gallery {
                grid-template-columns: repeat(2, 1fr);
                gap: 21px;
            }
        }
    }

    main#escape-the-cloud {

        section#escape-the-cloud-container {
            height: 100%;
            grid-template-columns: 1fr;

            #escape-the-cloud-trailer {
                min-height: 50vh;
                padding: 7px;

                video {
                    width: 63%;
                }
            }

            #escape-the-cloud-info {
                min-height: 50vh;

                .buttons {

                    a {
                        width: 100%;
                        font-size: 1.6rem;
                        text-align: center;
                        padding: 14px;
                    }
                }
            }
        }
    }

    main#game-42 {
        padding: 90px 21px 0 21px;

        #game-42-buttons {
            width: 36%;
        }

        #display-42 {
            padding: 21px;
            flex-grow: 1;

            .instructions-42 {

                h1 {
                    font-size: 4.2rem;
                }
            }

            .showcase-42 {

                .game-42-results-grid {
                    width: 100%;

                    div p {
                        &:nth-child(1) {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }

    main#madrid-calculator {

        .intro {
            padding: 14px 0;

            h1 {
                font-size: 3.6rem;
            }
        }

        .calculator-body {
            width: 84%;
            padding: 21px 7px;
        }
    }

    main#auto-miner {
        padding: 90px 42px 0;

        .auto-miner-container {
            padding: 21px 0;

            section#game-intro {
                #resource-bar {
                    right: 7%;
                }
            }

            section.resource-section {
                padding: 21px 14px 14px;

                .resource-section-grid {
                    .grid-cell-container {
                        .grid-cell-content {

                            .header-text,
                            .total-resource-grid-display {

                                h3,
                                h4 {
                                    font-size: 1.8rem;
                                }
                            }
                        }

                        &:first-child {
                            padding-right: 7%;
                        }

                        &:last-child {
                            padding-left: 7%;
                        }
                    }
                }
            }
        }
    }

    main#brackets-page {

        section#brackets-events-container {

            #brackets-events-gallery {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    main.bracket-tournament-page {

        .user-picks {

            .user-picks-container {
                width: 100%;

                .user-stats-container {
                    grid-template-columns: 1fr;
                    gap: 14px;

                    button {
                        width: 210px;
                    }

                    .table-container {

                        table {

                            th {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }

        .about-tournament {

            .about-tournament-container {
                width: 100%;

                .feature {
                    grid-template-columns: 1fr;
                    gap: 21px;

                    .feature-table {
                        width: auto;
                        align-self: center;
                        justify-self: center;

                        .table-container {
                            table {
                                
                                th {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main#contact-page {

        section#contact-page-emails {

            padding: 42px 0;

            ul {

                width: 84%;
                margin: 0 auto;

                li {

                    margin-left: 42px;

                    div {
                        width: 63vw;
                    }

                    &:nth-child(even) div {
                        left: 28px;
                    }

                    &:nth-child(even) div:before {
                        left: -15px;
                        border-width: 8px 16px 8px 0;
                        border-color: transparent #FFFFFF transparent transparent;
                    }
                }
            }
        }
    }

    main#user-profile {

        .profile-container {

            .user-stat-container#user-name-icon {
                display: flex;
                flex-direction: column;
            }
        }
    }

    main#privacy-page-content {

        section#privacy,
        section#cookies,
        section#terms {
            width: 84%;
        }
    }
}