@media(max-width: 376px) {
    section.hero-full {
        //padding: 7px;

        h1 {
            font-size: 3.2rem;
        }

        h2 {
            font-size: 1.8rem;
        }

        button {
            font-size: 1.6rem;
            padding: 7px 14px;

            &:hover {
                background-color: $vindro-green;
                color: white;
            }
        }
    }

    section.hero-half {
        h1 {
            font-size: 3.2rem;
        }

        h2 {
            font-size: 1.8rem;
        }
    }

    section#what-we-do {

        h3,
        h4 {
            font-size: 1.8rem;
        }

        a {
            padding: 7px 14px;
            font-size: 1.6rem;
        }
    }

    section#home-about {

        .team-container {

            .team-member {

                img {
                    width: 120px;
                    height: 120px;
                }

                >div h5 {
                    font-size: 2.4rem;
                }

                >div p {
                    font-size: 1.6rem;
                }
            }
        }
    }

    section#stories-page-content {
        width: 100%;
        background-color: $vindro-gray;

        #timeline ul {
            width: 100%;

            li {
                width: 3px;
                margin-left: 28px;

                div {
                    width: 73vw;
                    bottom: -3px;
                }

                &:nth-child(even) div {
                    left: 28px;
                }

                &:nth-child(odd) div {
                    left: 28px;
                }

                &:nth-child(even) div:before {
                    left: -15px;
                    border-width: 8px 16px 8px 0;
                    border-color: transparent #FFFFFF transparent transparent;
                }

                /* Timeline Dots */
                &:after {
                    width: 14px;
                    height: 14px;
                }

                /* Timeline Arrows Base */
                div:before {
                    bottom: 3px;
                }
            }
        }
    }

    main#games-showcase {
        section.hero-half {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.6rem;
            }
        }

        section#games-gallery-container {

            #games-gallery {
                padding: 0 7px;
            }
        }

    }

    main#contact-page {

        section.hero-half {

            h1 {
                font-size: 3.2rem;
            }

            h2 {
                font-size: 1.8rem;
            }
        }

        section#contact-page-content {
            h3 {
                font-size: 1.8rem;
            }

        }

        section#contact-page-emails {

            ul {
                width: 100%;

                li {
                    width: 4px;
                    margin-left: 21px;

                    div {
                        width: calc(100vw - 42px);

                        h4 {
                            font-size: 1.2rem;
                            border-bottom: 1px solid $vindro-green;
                        }
                    }

                    &:nth-child(odd) div {
                        left: 14px;
                    }

                    &:nth-child(even) div {
                        left: 14px;
                    }

                    &:after {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
    }

    main#user-profile {
        padding: 90px 14px 0;

        .profile-container {
            width: 100%;

            h1 {
                font-size: 3.6rem;
            }

            .user-stat-container#user-name-icon {
                display: flex;
                flex-direction: column;

                .editable-input-wrapper {
                    flex-direction: column;

                    input {
                        width: 100%;
                    }

                    button.btn-edit {
                        align-self: flex-start;
                    }
                }

                .user-icon {
                    flex-direction: column;
                    gap: 3px;

                    img {
                        width: 192px;
                        height: 192px;
                    }

                    button.btn-edit {
                        align-self: flex-start;
                    }

                    .icon-gallery {
                        top: 230px;
                        left: -7px;
                        right: 0;
                        width: fit-content;
                        margin-left: auto;
                        margin-right: auto;
                        padding: 3px;
                        gap: 3px;
                        grid-template-columns: repeat(6, 1fr);
                        grid-template-rows: repeat(7, auto);
                        grid-auto-flow: column;
                    }
                }
            }
        }
    }

    section#escape-the-cloud {

        #escape-the-cloud-trailer {
            min-height: 36vh;
            padding: 7px;
        }

        #escape-the-cloud-info {
            min-height: 50vh;
            padding: 21px;
            gap: 28px;

            .buttons {

                a {
                    padding: 7px;
                }
            }
        }
    }

    main#game-42 {
        padding: 60px 0 0 0;

        #game-42-buttons {

            button.pos-42 {
                padding: 3px 7px;
            }
        }

        #display-42 {
            padding: 21px 7px;

            .instructions-42 {

                h1 {
                    font-size: 2.4rem;
                    margin-bottom: 14px;
                }
            }

            .showcase-42 {

                .game-42-play-container {

                    button#game-42-play-button,
                    .game-42-number-display {
                        font-size: 1.8rem;
                    }

                    .end-game-message {
                        width: 91%;

                        .status-dot {
                            margin-left: 3px;
                        }

                        code {
                            font-size: 1.4rem;
                            margin-left: 0;
                        }
                    }
                }

                .game-42-results-grid {
                    width: 91%;

                    div {

                        p {
                            &:nth-child(1) {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }

        .how-to-play-content {
            .instructions-inner {
                .main-instructions {
                    button.close-overlay-btn {
                        width: 63%;
                    }
                }

                .refs {

                    p,
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    main#madrid-calculator {

        .intro {
            padding: 14px;

            h2 {
                font-size: 1.8rem;
            }
        }

        .calculator-body {
            width: 100%;
            padding: 14px;

            .calc-screen {}

            .calc-grid {}
        }
    }

    main#auto-miner {
        padding: 60px 0 0 0;

        .auto-miner-container {
            padding: 14px;

            section#game-intro {
                h1 {
                    font-size: 2.8rem;
                }
            }

            section.resource-section {
                padding: 21px 0 0 0;
            }
        }
    }
}