@media(max-width: 960px) {

    #navbar {
        padding: 0 14px 0 0;
    }

    section.hero-full {
        h2 {
            font-size: 2.8rem;
        }
    }

    section#stories-page-content {
        width: 100%;
        background-color: $vindro-gray;
        #timeline ul {
            width: 84%;
            margin: 0 auto;

            li {
                
                margin-left: 42px;

                div {
                    width: 70vw;
                }

                &:nth-child(even) div {
                    left: 40px;
                }

                &:nth-child(even) div:before {
                    left: -15px;
                    border-width: 8px 16px 8px 0;
                    border-color: transparent #FFFFFF transparent transparent;
                }
            }
        }
    }

    section#escape-the-cloud {
        height: 100%;
        grid-template-columns: 1fr;

        #escape-the-cloud-trailer {
            min-height: 50vh;
            padding: 7px;

            video {
                width: 63%;
            }
        }

        #escape-the-cloud-info {
            min-height: 50vh;

            .buttons {

                a {
                    width: 100%;
                    font-size: 1.6rem;
                    text-align: center;
                    padding: 14px;
                }
            }
        }
    }
}