@import 'config';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $vindro-openSans;
}

:root {
  font-size: 10px;
}

body {
  background-color: $vindro-gray;
  font-family: $vindro-openSans;
  color: white;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: $vindro-Montserrat;
  font-weight: 500;
}

img {
  width: 100%;
}

@import 'utils';

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $vindro-black-overlay;
  color: white;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
  z-index: 3;

  .vindro-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    font-weight: 400;

    a {
      padding: 3px;
      margin: 0 3px;
    }
    img {
      width: 60px;
      padding: 0;
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h4 {
        font-family: $vindro-Montserrat;
        font-size: 2.1rem;
      }
    }
  }

  ul {
    display: flex;
    font-size: 1.6rem;

    a {
      color: white;
      padding: 21px;
      margin: 0 3px;
    }

    a:hover, a.current {
      border-bottom: 3px solid $vindro-teal;
    }
  }
}

main {
  min-height: 100vh;
}

section.hero-full {
  background: $vindro-black;
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;

  &-home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 20px;

    h1 {
      font-size: 6.3rem;
      margin-bottom: 21px;
    }

    h2 {
      font-size: 3rem;
      margin-bottom: 42px;
    }

    button {
      font-size: 1.8rem;

      &:hover {
        background-color: $vindro-green;
        color: white;
      }
    }
  }
}

#what-we-do {
  min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-family: $vindro-Montserrat;
      font-size: 2.1rem;
      margin-bottom: 1rem;
    }

    h4 {
      font-size: 6.3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }

    a {
      font-size: 1.8rem;

      &:hover {
        background-color: $vindro-tan;
        color: $vindro-gray;
      }
    }
}

section#home-about {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .team-container {
    display: flex;
    justify-content: center;
    padding-top: 84px;
    gap: 42px;

    .team-member {
      width: 42%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 21px;

      img {
        width: 42%;
        border-radius: 50%;
        border: 3px solid $vindro-gray;
        background-color: $vindro-teal;
        margin-bottom: 2rem;
      }

      > div h3 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
      }

      > div p {
        font-size: 2.1rem;

      }
    }
  }
}

footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  text-align: center;
  background-color: $vindro-black;

  a {
    font-size: 1.2rem;
    color: $vindro-green;

    &:hover {
      color: $vindro-teal;
    }
  }
  .contact-info {
    font-size: 1.4rem;

    a {
      color: $vindro-teal;
      font-weight: 600;

      &:hover {
        color: $vindro-green;
      }
    }
  }

  .social {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 42px;
    
    a {
      
      padding: 7px;
      color: white;
      border-radius: 7px;

      svg {
        width: 4rem;
        height: 4rem;
      }

      &:hover {
        background-color: $vindro-green;
        color: $vindro-gray;
      }
    }
  }
}