@use '../../config' as *;

@media(max-width: 960px) {

    main#privacy-page-content {

        section#privacy,
        section#cookies,
        section#terms {
            width: 84%;
        }
    }
}

@media(max-width: 678px) {

    main#privacy-page-content {

        section#privacy,
        section#cookies,
        section#terms {

            width: 100%;
            padding: 21px;

            h2,
            h3,
            h4,
            h5,
            p {
                margin-bottom: 1rem;
            }

            h2 {
                color: $vindro-green;
                font-weight: 700;
                font-size: 3.6rem;
            }

            h3 {
                font-size: 2.1rem;
            }

            h5 {
                font-weight: 600;
            }

            h5,
            p {
                font-size: 1.8rem;
            }
        }
    }
}

@media(max-width: 450px) {

    main#privacy-page-content {

        section#privacy,
        section#cookies,
        section#terms {

            padding: 14px;

            h2 {
                font-size: 2.8rem;
            }

            h3 {
                font-size: 1.8rem;
            }

            h5 {
                font-weight: 600;
            }

            h5,
            p {
                font-size: 1.6rem;
            }

            p.update {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }
}