@use '../../../config' as *;

@media(max-width: 960px) {

    .gallery-container {

        .viewport {

            .group-card {

                .team-list {

                    .team-row {

                        .rank-num,
                        .team-name {
                            font-size: 1.4rem;
                        }

                        .fi {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 678px) {

    .gallery-container {
        padding: 0px 36px;

        .nav-arrow {
            height: 56px;
        }
    }
}

@media(max-width: 450px) {

    .gallery-container {
        padding: 0px 28px;

        .nav-arrow {
            height: 36px;
            width: 24px;
        }

        .viewport {
            margin: 0 21px;
            padding: 8px;

            .group-card {

                .group-header {}

                .team-list {

                    .team-row {

                        .rank-num,
                        .team-name {
                            font-size: 1.4rem;
                        }

                        .fi {
                            font-size: 1.8rem;
                        }
                    }
                }
            }

        }
    }
}

@media(max-width: 376px) {

    main.bracket-tournament-play {

        padding: 90px 14px;

        .bracket-tournament-play-container {

            .header-container {
                flex-direction: column;

                .text-container {

                    h1 {}

                    .play-specs {

                        h2 {
                            font-size: 1.6rem;
                        }

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                .go-back-button-container {

                    button {
                        width: 14px;
                    }
                }
            }
        }
    }

    .gallery-container {
        width: 100%;
        padding: 0px 28px;
    }
}