@use '../../../config' as *;

@media(max-width: 960px) {

    main#game-42 {
        padding: 90px 21px 0 21px;

        #game-42-buttons {
            width: 36%;
        }

        #display-42 {
            padding: 21px;
            flex-grow: 1;

            .instructions-42 {

                h1 {
                    font-size: 4.2rem;
                }
            }

            .showcase-42 {

                .game-42-results-grid {
                    width: 100%;

                    div p {
                        &:nth-child(1) {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 678px) {

    main#game-42 {
        padding: 60px 0 0 0;

        #game-42-buttons {

            button.pos-42 {
                font-size: 2.4vh;
                padding: 3px 14px;
            }
        }

        #display-42 {

            .instructions-42 {

                h1 {
                    font-size: 3.6rem;
                }

                button {
                    font-size: 1.6rem;

                }
            }

            .showcase-42 {

                .game-42-play-container {

                    button#game-42-play-button,
                    .game-42-number-display {
                        width: 63%;
                        padding: 7px;
                        font-size: 2.1rem;
                    }

                    .end-game-message {

                        width: 84%;

                        .status-dot {
                            margin-left: 7px;
                            width: 14px;
                            height: 14px;

                        }

                        code {
                            margin-left: 7px;
                            font-size: 1.6rem;
                        }
                    }
                }

                .game-42-results-grid {
                    grid-template-columns: 1fr;
                    width: 84%;

                    div {
                        flex-direction: row;
                        justify-content: flex-start;
                        padding: 7px 14px;
                        gap: 21px;

                        &:nth-child(1) {
                            border-left: none;
                            border-top: 2px solid $real-yellow;
                        }

                        &:nth-child(2) {
                            border-left: none;
                            border-right: none;
                            border-top: 2px solid $real-yellow;
                            border-bottom: 2px solid $real-yellow;
                        }

                        &:nth-child(3) {
                            border-right: none;
                            border-bottom: 2px solid $real-yellow;
                        }

                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

    }
}

@media(max-width: 450px) {

    main#game-42 {
        padding: 60px 0 0 0;

        #game-42-buttons {

            button.pos-42 {
                padding: 3px 7px;
            }
        }

        #display-42 {
            padding: 21px 14px;

            .instructions-42 {

                h1 {
                    font-size: 2.8rem;
                }
            }

            .showcase-42 {

                .game-42-play-container {

                    button#game-42-play-button,
                    .game-42-number-display {
                        width: 84%;
                        padding: 7px;
                        font-size: 2.1rem;
                    }

                    .end-game-message {
                        font-size: 1.6rem;

                    }
                }

                .game-42-results-grid {

                    div {

                        p {
                            &:nth-child(1) {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 376px) {

    main#game-42 {
        padding: 60px 0 0 0;

        #game-42-buttons {

            button.pos-42 {
                padding: 3px 7px;
            }
        }

        #display-42 {
            padding: 21px 7px;

            .instructions-42 {

                h1 {
                    font-size: 2.4rem;
                    margin-bottom: 14px;
                }
            }

            .showcase-42 {

                .game-42-play-container {

                    button#game-42-play-button,
                    .game-42-number-display {
                        font-size: 1.8rem;
                    }

                    .end-game-message {
                        width: 91%;

                        .status-dot {
                            margin-left: 3px;
                        }

                        code {
                            font-size: 1.4rem;
                            margin-left: 0;
                        }
                    }
                }

                .game-42-results-grid {
                    width: 91%;

                    div {

                        p {
                            &:nth-child(1) {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }

        .how-to-play-content {
            .instructions-inner {
                .main-instructions {
                    button.close-overlay-btn {
                        width: 63%;
                    }
                }

                .refs {

                    p,
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}