@use '../../../config' as *;

@media(max-width: 960px) {

    main#auto-miner {
        padding: 90px 42px 0;

        .auto-miner-container {
            padding: 21px 0;

            section#game-intro {
                #resource-bar {
                    right: 7%;
                }
            }

            section.resource-section {
                padding: 21px 14px 14px;

                .resource-section-grid {

                    .grid-cell-container {

                        .grid-cell-content {

                            .header-text,
                            .total-resource-grid-display {

                                h3,
                                h4 {
                                    font-size: 1.8rem;
                                }
                            }
                        }

                        &:first-child {
                            padding-right: 7%;
                        }

                        &:last-child {
                            padding-left: 7%;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 678px) {

    main#auto-miner {
        padding: 60px 21px 0;

        .auto-miner-container {
            padding: 21px 0;

            section#game-intro {
                padding-left: 21px;
                align-items: flex-start;

                .sub-header-text-instruct {
                    flex-direction: column;
                    gap: 7px;

                    h2 {
                        font-size: 2.1rem;
                    }
                }

                #resource-bar {
                    top: 80px;
                    right: 4%;

                    .resource-bar-container {
                        .column {
                            img {
                                width: 28px;
                                height: 28px;
                            }
                        }
                    }
                }
            }

            section.resource-section {
                padding: 21px 14px 14px;

                .resource-section-grid {
                    grid-template-columns: 1.3fr 1fr;

                    .grid-cell-container {

                        .grid-cell-content {

                            .header-text,
                            .total-resource-grid-display {
                                img {
                                    width: 24px;
                                    height: 24px;
                                }

                                h3,
                                h4 {
                                    font-size: 1.6rem;
                                }
                            }

                            .total-resource-grid-display {
                                flex-direction: column;
                                gap: 7px;

                                .production-cost-heading {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    img {
                                        width: 24px;
                                        height: 24px;
                                    }
                                }
                            }

                            .cost-purchase-display,
                            .purchase-summary-section {
                                gap: 3px;

                                p {
                                    font-size: 1.6rem;
                                }
                            }

                            .purchase-section {
                                p {
                                    font-size: 1.6rem;
                                }
                            }

                            .inline-cost-display,
                            .total-resource-display,
                            .production-display {
                                padding: 3px 7px;
                                font-size: 1.6rem;
                            }

                            .total-resource-display,
                            .production-display {
                                padding: 3px 7px;
                                font-size: 1.6rem;
                            }

                            label {
                                font-size: 1.6rem;

                                input {
                                    margin-right: 7px;
                                    width: 21px;
                                    height: 21px;
                                    cursor: pointer;

                                    // Target the checkbox specifically when it's disabled
                                    &:disabled {
                                        opacity: 0.4;
                                        cursor: not-allowed;
                                        filter: grayscale(1); // Desaturates the box in some browsers
                                        accent-color: #666; // Colors the "check" if it were checked
                                    }
                                }
                            }
                        }

                        &:first-child {
                            padding-right: 0;
                            justify-content: center;
                        }

                        &:last-child {
                            padding-left: 0;

                            .total-resource-grid-display {
                                padding: 0 14px;
                            }
                        }
                    }
                }
            }

            .auto-miner-btn {
                min-width: 0;
                width: 100%;
                padding: 7px 14px;
                font-size: 1.4rem;
            }
        }
    }
}

@media(max-width: 450px) {

    main#auto-miner {
        padding: 60px 21px 0;

        .auto-miner-container {
            padding: 21px;

            section#game-intro {
                padding-left: 7px;

                h1 {
                    font-size: 3.6rem;
                }

                .sub-header-text-instruct {
                    h2 {
                        font-size: 1.8rem;
                    }

                    button#how-to-play {
                        width: 100%;
                        font-size: 1.4rem;
                        padding: 3px 7px;
                    }
                }

                #resource-bar {
                    .resource-bar-container {
                        .column {
                            flex-direction: column;
                            align-items: center;

                            p {
                                padding: 0;
                            }
                        }
                    }
                }
            }

            section.resource-section {
                padding: 21px 14px 14px;

                .resource-section-grid {
                    grid-template-columns: 1fr;

                    .grid-cell-container {

                        .grid-cell-content {

                            justify-content: center;

                            .header-text,
                            .total-resource-grid-display {

                                img {
                                    width: 24px;
                                    height: 24px;
                                }

                                h3,
                                h4 {
                                    font-size: 1.6rem;
                                }
                            }

                            .total-resource-grid-display {
                                flex-direction: column;
                                gap: 7px;

                                .total-resource-display,
                                .production-display {
                                    width: 100%;
                                }

                                .production-cost-heading {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    img {
                                        width: 24px;
                                        height: 24px;
                                    }
                                }
                            }

                            .cost-purchase-display,
                            .purchase-summary-section {

                                gap: 3px;

                                p {
                                    font-size: 1.6rem;
                                }
                            }

                            .purchase-section {

                                p {
                                    font-size: 1.6rem;
                                }
                            }

                            .inline-cost-display,
                            .total-resource-display,
                            .production-display {
                                padding: 3px 7px;
                                font-size: 1.6rem;
                            }

                            .total-resource-display,
                            .production-display {
                                padding: 3px 7px;
                                font-size: 1.6rem;
                            }

                            label {
                                font-size: 1.6rem;

                                input {
                                    margin-right: 7px;
                                    width: 21px;
                                    height: 21px;
                                    cursor: pointer;

                                    // Target the checkbox specifically when it's disabled
                                    &:disabled {
                                        opacity: 0.4;
                                        cursor: not-allowed;
                                        filter: grayscale(1); // Desaturates the box in some browsers
                                        accent-color: #666; // Colors the "check" if it were checked
                                    }
                                }
                            }
                        }

                        &:first-child {
                            justify-content: flex-start;
                            padding-left: 14px;
                        }

                        &:last-child {
                            justify-content: flex-start;
                            padding-left: 14px;
                            margin-top: 14px;

                            .total-resource-grid-display {
                                padding: 0 14px;
                            }
                        }

                        &#total-iron-grid-display {
                            display: none;
                        }
                    }
                }
            }

            .auto-miner-btn {
                min-width: 0;
                width: 100%;
                padding: 7px 14px;
                font-size: 1.4rem;
            }
        }
    }
}

@media(max-width: 376px) {

    main#auto-miner {
        padding: 60px 0 0 0;

        .auto-miner-container {
            padding: 14px;

            section#game-intro {
                
                h1 {
                    font-size: 2.8rem;
                }
            }

            section.resource-section {
                padding: 21px 0 0 0;
            }
        }
    }
}