@use '../../../config' as *;

@media(max-width: 960px) {

    .description-container {
        padding: 7px 0 14px 14px;

        &#play-description,
        &#pool-description {
            flex-direction: column;
            gap: 14px;

            .description-dropdown {
                width: 100%;

                .description-toggle {
                    width: 84%;
                }
            }

            .right-container {
                align-items: flex-start;
                padding-left: 14px;
            }
        }

        .description-dropdown {

            .description-toggle {
                width: 100%;
                font-size: 1.6rem;
            }

            .description-panel h4 {
                font-size: 1.6rem;
            }
        }

        .right-container {

            p {
                font-size: 1.8rem;
            }
        }
    }

    .auth-prompt-overlay {

        .auth-prompt-message {

            h5 {
                font-size: 2.4rem;
            }
        }
    }
}

@media(max-width: 678px) {

    .title-container-wrapper {
        padding: 14px;

        h3 {
            font-size: 3.6rem;
        }
    }

    .description-container {
        padding: 7px 14px;
        flex-direction: column;
        gap: 14px;

        .description-dropdown {
            width: 100%;

            .description-toggle {
                width: 100%;
                font-size: 1.6rem;
                padding: 7px 14px;
            }

            .description-panel h4 {
                font-size: 1.6rem;
            }
        }

        .right-container {
            width: 100%;
            align-items: flex-start;
        }
    }

    .auth-prompt-overlay {

        .auth-prompt-message {
            padding: 21px;

            h5 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
}


@media(max-width: 450px) {

    .title-container-wrapper {
        padding: 14px 0;

        h3 {
            width: 100%;
            text-align: center;
            font-size: 3.2rem;
        }
    }

    .description-container {
        padding: 7px 0;
        align-content: center;

        .description-dropdown {
            width: 100%;

            .description-toggle {
                text-align: center;
            }

            .description-panel h4 {
                text-align: center;
            }
        }

        .right-container {
            align-items: center;

            button {
                font-size: 1.4rem;
            }
        }
    }

    .auth-prompt-overlay {
        padding: 21px;

        .auth-prompt-message {
            width: 100%;
            padding: 14px;

            .section-seperator {
                width: 84%;
            }
            p {
                font-size: 1.2rem;
            }

            .auth-prompt-half {

                .prompt-links {
                    flex-direction: column;
                    button {
                        font-size: 1.2rem;
                        padding: 7px 14px;
                    }
                }
            }
        }
    }
}


@media(max-width: 376px) {

    .description-container {

        .description-dropdown {

            .description-toggle {
                padding: 7px;
            }

            .description-panel {
                padding: 7px;
            }
        }
    }
}